* {
    font-family: sans-serif;
    color: blue;
}

body {
    background-color: rgba(102, 233, 235, 0.856);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


nav {
    border: 3px solid black;
    padding: 3%;
    background-color: bisque;
    color: cornflowerblue;
}

/* CSS transition */
#logo {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/* CSS transition */
#logo:hover {
    background-color: cornflowerblue;
    transform: rotate(360deg);
}

nav ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

/* gif */
#gif {
    margin: auto;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.AboutCompany {
    margin: auto;
    padding: 1%;
    max-width: 200%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Slogan {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

p {
    margin: auto;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.pushbroom {
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    border: solid white;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    max-width: 850px;
    padding: 2%;
    margin: auto;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(23, 2, 2, 0.553);
}

.img-container {
    margin: auto;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading {
    margin: 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.description {
    margin-bottom: 20px;
    padding: 1%;
}

form {
    border: solid black;
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
   color: blue;
}

footer {
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
}


