* {
    font-family: sans-serif;
}

body {
    background-color: rgba(102, 233, 235, 0.856);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    border: 3px solid black;
    padding: 3%;
    background-color: bisque;
    color: cornflowerblue;
}

#logo {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#logo:hover {
    background-color: cornflowerblue;
    transform: rotate(360deg);
}

nav ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

form {
    border: solid black;
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
   color: blue;
}


