* {
    font-family: sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


nav {
    border: 3px solid black;
    padding: 3%;
    background-color: bisque;
    color: cornflowerblue;
}

#logo {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#logo:hover {
    background-color: cornflowerblue;
    transform: rotate(360deg);
}

nav ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}


h1,
h2 {
    float: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 {
    width: 35%;
    padding: 3%;
    color: blue;
    text-align: center;
}

#hero {
    width: 100%;
    height: 100vh;
    color: blue;
}


.container2 {
    max-width: 30%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cta-button {
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: bisque;
    padding: .5em 2em;
    margin: .5%;
    color: blue;
    box-shadow: 0 3px 3px rgba(128, 128, 128, 0.491);
    transition: background-color 1s ease-out, transform 1s ease-out;
}

.cta-button:hover {
    text-decoration: underline;
    color: white;
    transform: scale(1.1);
}

.services {
    color: blue;
}

table {
    color: gray;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    padding: 2%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid blue;
}

tr:hover {
    background-color: coral;
}

footer {
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
}