body {
    background-color: rgb(47, 208, 232);}

body, html {
    margin: 0;
    padding 0;
    height: 100%;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    height: 5%;
    border: 3px solid black;
}
h1 {
    display: flex;
   justify-content: center;
}