* {
    font-family: sans-serif;
}

body {
    background-color:rgba(102, 233, 235, 0.856);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


nav {
    border: 3px solid black;
    padding: 3%;
    background-color:bisque;
    color: cornflowerblue;
}

nav ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}


h1, h2 {
    float: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 {
    width: 35%;
    padding: 3%;
    color: blue;
    text-align: center;
}

#hero  {
    width: 100%;
    height: 100vh;
    color: blue;
}


.container2 {
    max-width: 30%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.cta-button{
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: bisque;
    padding: .5em 2em;
    margin: .5% ;
    color: blue;
    box-shadow: 0 3px 3px rgba(128, 128, 128, 0.491);
}

    .cta-button:hover {
    text-decoration: underline;
    color: white;
}
.services {
    color: blue;
}

table {
    color: gray;
  border-collapse: collapse;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}