* {
    font-family: sans-serif;
}

body {
    background-color:rgba(102, 233, 235, 0.856);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


nav {
    border: 3px solid black;
    padding: 3%;
    background-color:bisque;
    color: cornflowerblue;
}

nav ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: right;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}


h1 {
    float: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 {
    width: 35%;
    padding: 3%;
    color: blue;
    text-align: center;
}

